<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/css/1ie.css">
    <![endif]-->

    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
</head>
<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>